@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, Verdana;
    font-weight: 300;
    background-color: #F2E8CF;
}

h1 {
    font-family: Outfit, Verdana;
    color: #6A994E;
    padding-bottom: 5px;
}

h2 {
    font-family: Outfit, Verdana;
    color: #6A994E;
    padding-bottom: 5px;
}

p.b {
    font-style: italic;
    font-weight: bold;
  }

label {
    color:#453621;
}

.mg-left {
    margin-left: 20px;
}



.brown-text {
    color:#453621;
    padding-bottom: 25px;
    font-size: 1.1em;

}

.brown-header {
    color:#453621;
}

#logo {
    float: left;
    margin-left: 20px;
    
}

#logo2 {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

a, a:visited {
    color:#6A994E;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {

    color: #453621;  
    }

.active {
    
    border-bottom: 1px solid #453621;
    color:#453621;

}    

#welcome-image {
    height: 400px;
    width: 100%;
    background: url('../images/skanewelcome.jpg') no-repeat center center;

}

#skane-welcome {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.form-section {
    clear: left;
    height: 600px;
    width: 400px;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.form-styling {
    color: coral;

}

.textborder {
    border: 2px solid #6A994E;
    background-color: #F2E8CF;
}

.btn {
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #6A994E;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 15px 25px 5px;
    font-size: 1.2em;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #453621;
}


#description {
    height: 600px;
    margin-left: 20px;

}

#left-desc {
    padding-top: 30px;
    width: 66%;
    float: left;
  
}

#right-desc {
    padding-top: 30px;
    width: 33%;
    float: right;
}


#right-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color:#453621;
    border-width: 1px;

}

#right-image {
    background: url('../images/skanestairs.jpg') no-repeat center center;
    height: 100%;

}

#trail-types > div {
    color:#453621;
    background-color: #6A994E;
    width: 320px;
    height: 320px;
    float: left;
    padding: 20px 0 20px 0;
    text-align: center;
    border: 3px solid #F2E8CF;
} 

#forest-image {
    background: url('../images/Forest1.jpg') no-repeat center center;
    height: 300px;
}

#valley-image {
    background: url('../images/Valley1.jpg') no-repeat center center;
    height: 300px;
}

#coast-image {
    background: url('../images/Coast1.jpg') no-repeat center center;
    height: 300px;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 75px;
} 

.socials {
    text-align: center;
    color: #453621;
}

.socials > li {
    display: inline;
    color: #453621;
    padding: 1%;
}

.socials i {
    font-size: 150%;
    color: #453621;
}

.visit {
    position: relative;
    bottom: 200px;
    text-align: center;
    color:#453621;
}

.trail-bg {
    background-color: #6A994E;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 30px;
}

img {
    height: 50%;
    width: 50%;
    overflow: hidden;

}

.image-div {
    height: 300px;
    width: 300px;
}

#img-s {
    height: 150px;
    width: 300px;
    overflow: hidden;
}

.textfloat {
    float:right;
    margin-right: 0%;
    text-align: left;
}

.input-text {
    width: 100%;
    height: 30px;
    margin: 5px 5px 0 0;
    color:#453621
}

@media screen and (max-width: 1200px) {

    #description{
        width: 65%;
        height: 600px;
        
    }

    #right-desc {
        clear:both;
        float: left;
    }

    #trail-types {
        width: 65%;
        clear: both;
        float: left;

    }

}

@media screen and (max-width: 900px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 25px;

    }

    
}

@media screen and (max-width: 600px) {

    .image-div {
        height: 200px;
        width: 200px;
    }
     

}