@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, Verdana;
    font-weight: 300;
    color: #A1C084;
}

h1, h2 {
    font-family: Outfit, Verdana;
   
}

#logo {
    float: left;
    margin-left: 20px;
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: #453621;  
    }

.active {
    border-bottom: 1px solid #453621; 

}    

#welcome-image {
    height: 400px;
    width: 100%;
    background: url('../images/skanewelcome.jpg') no-repeat center center;
   /* margin: auto; */
}

#skane-welcome {
    height: 400px;
    width: 100%;
    overflow: hidden;
}