@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, Verdana;
    font-weight: 300;
    color: #A1C084;
}

h1 {
    font-family: Outfit, Verdana;
    color: #A1C084;
}

h2 {
    font-family: Outfit, Verdana;
    color: #A1C084;
}

.brown-text {
    color:#453621;
}

#logo {
    float: left;
    margin-left: 20px;
    
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: #453621;  
    }

.active {
    border-bottom: 1px solid #453621; 

}    

#welcome-image {
    height: 400px;
    width: 100%;
    background: url('../images/skanewelcome.jpg') no-repeat center center;

}

#skane-welcome {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#description {
    height: 600px;
    margin-left: 20px;

}

#left-desc {
    padding-top: 30px;
    width: 66%;
    float: left;
  
}

#right-desc {
    padding-top: 30px;
    width: 33%;
    float: right;
}


#right-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color:#453621;
    border-width: 1px;



}

#right-image {
    background: url('../images/skanestairs.jpg') no-repeat center center;
    height: 100%;

}

#trails div {
    color:#453621;
    background-color: #A1C084;
    width:30%;
    height: 200px;
    float: left;
    padding: 20px 0 0 0;
    text-align: center;
    border: 10px solid #FFFFFF;
} 

#forest-image {
    background: url('../images/Forest1.jpg') no-repeat center center;
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;

}

#valley-image {
    background: url('../images/Valley1.jpg') no-repeat center center;
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
}

#coast-image {
    background: url('../images/Coast1.jpg') no-repeat center center;
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
    
}

footer {
    height: 200px;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #453621;
}